.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #354052;
    color: #fff;
    transition: all 0.3s;
}


.sidebar-item {
    padding: .625rem 1.5rem .625rem 2.75rem;
    font-weight: 400;
}
.sidebar-droplist{
    
}

.sidebar-dropdown{ 
    padding: .625rem 1.5rem;
    background-color: #2D3646;}


.sidebar-link:active {background-color: blue; }

.sidebar-dropdown:hover{background-color: black;}

.sidebar-droplist:hover{
    background-color: red;
}


a, a:hover{
    color:#fff; 
}

 
